html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Noto sans', sans-serif;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* override Bootstrap colours with custom theme from teamcolorcodes.com */
.navbar-dark {
    background-color: #006BA6;
}

.btn-primary {
    background-color: #002F6C;
}

.btn-danger, .badge-secondary {
    background-color: #DA291C;
}

table.sortable th:hover {
    cursor: pointer;
    color: #006BA6;
}

.thumb {
    width: 100px;
}