@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cheerful Chomps</h1>
    <p>We sell the best British food we can find.</p>
    <p>We're building this site using ASP.NET in COMP2084G in Fall 2025.</p>
    <p>Logo generously created by Allie Pinnell.</p>
</div>
